# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#cmake_folders
P1/cmake-bulild-debug/*
P2/cmake-bulild-debug/*
P3/cmake-bulild-debug/*
P4/cmake-bulild-debug/*
P0/cmake-bulild-debug/*


*.htl
*.css
*.js
